# Keycloak Configuration
VITE_KEYCLOAK_URL=https://keycloak.keystone.internal:7443/
VITE_KEYCLOAK_REALM=home-fin
VITE_KEYCLOAK_CLIENT_ID=home-fin-web

# API Configuration
VITE_API_URL=http://localhost:6723

# Environment
VITE_ENV=development
